<!DOCTYPE html>
<html lang="en">
    {{> head}}
<body>
    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Titulito</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores obcaecati repellendus iusto animi. Rem suscipit voluptatem debitis deleniti eum animi sunt? Ipsam voluptatem eaque ea harum eius quae. Voluptatibus, veritatis.</p>
        </div>
        <div class="col-4">
            <img class="img-tumbnail" src="assets/img/gato.jpg" alt="gato">
        </div>
    </div>
    {{> footer}}
</body>

</html>